@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@ 0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1 ,100;1,200;1, 300;1,400;1,500;1,600;1,700;1,800;1,900&display=sw a p');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
/* Existing CSS */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

body {
    background-color: #ffffff;
}

.html {
    font-size: 62.5%;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}
.container {
    width: 90%;
    margin: auto;
}
.navbar {
    width: 100%;
    background: transparent;
    color: #b6b0b0;
    opacity: 0.85;
    z-index: 100;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 2.3rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    position: relative; 
}

.navbar a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    padding: 5px;
}

.navbar a:hover {
    color: #72AE44;
    text-decoration: none;
}

/* Dropdown Menu CSS */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; 
    background: #ffffff;
    list-style: none;
    padding: 10px 0;
    z-index: 10;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    padding: 5px 10px;  
    margin: 0;         
    line-height: 1.5;
}

.dropdown-menu a {
    color: #000000
    ;
    font-size: 1.2rem;  
    display: block;    
    text-align: center;
}

.menu-items li:hover .dropdown-menu {
    display: block;
}

@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #72AE44;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #ffffff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 0px 5px 2px 0px #72AE44;
        overflow: scroll;
        color: #000000;
        font-weight: 400;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo {
        width: 200px;
        height: 70px;
        object-fit: cover;
        position: absolute;
        left: 0; /* Aligns to the left */
        top: 0;  /* Adjusts to the top */
        margin-left: 0; /* Ensures it touches the left margin */
    }
    

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    /* Responsive Dropdown */
    .menu-items .dropdown-menu {
        position: static;
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .dropdown-menu li {
        padding: 10px 0;
        margin-left: 20px;
    }

    .menu-items li:hover .dropdown-menu {
        display: none;
    }

    .menu-items .dropdown-menu {
        display: none;
    }

    .menu-items li .dropdown a {
        color: #000000;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items .dropdown-menu {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .navbar-container input[type="checkbox"]:checked ~ .logo {
        display: none;
    }
   
}

/* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f4faef;
    min-height: 70vh;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 2.5rem;
    color: #72AE44;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Poppins'; 
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.hero-buttons .btn {
    padding: 12px 30px;
    text-decoration: none;
    color: #fff;
    background-color: #2b2d42;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-buttons .btn:hover {
    background-color: #72AE44;
}

.hero-buttons .btn.contact-us {
    background-color: #000;
}

.hero-buttons .btn.contact-us:hover {
    background-color: #72AE44;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-buttons .btn {
        padding: 10px 20px;
    }
}

/* card container */
.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 50px 0;
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px dashed #72AE44;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    background-color: #4caf50;
    color: #fff;
    transform: translateY(5px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    z-index: 1; 
    border: 3px dotted #ddd;
}

.card-icon img{
    width: 50px;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2b2d42;
    margin-bottom: 15px;

}

.card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.card .learn-more {
    font-size: 1rem;
    text-decoration: none;
    color: #4caf50;
    font-weight: 900;
    transition: color 0.3s ease;
}

.card:hover .learn-more {
    color: #fff;
}

@media (max-width: 992px) {
    .cards-container {
        flex-direction: column;
        gap: 30px;
    }

    .card {
        max-width: 80%;
        margin: 0 auto;
    }
}
/* new container */
.newcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
.left {
    width: 45%;
    padding: 20px;
}
.left h1
{ font-size: 2.5rem;
    font-weight: 600;
    margin-top: 10px;

}
.left p{
    font-size: 18px;
    text-align: justify;
}
.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .plan {
    display: inline-block;
    width: 45%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .plan h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .plan p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .plan a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .plan a:hover {
    color: #23527c;
  }

  .right {
    width: 55%;
    padding: 20px;
    text-align: center;
  }
  
  .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .left .btn{
    margin: 30px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color:#ffffff;
    font-size: 20px;
  }

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.right {
    animation: moveUpAndDown 3s infinite;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }
   
    
}
@media (max-width:480px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }
    .plan {
        display: inline-block;
        width: 100%;
        margin: 10px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .left p{
       text-align: justify;
      }
}

/* service container */

.service-container {
    padding-top: 30px;
}
.services-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.services-section h2
{
    font-size: 2.5rem;
}
.service-item {
    margin-bottom: 30px;
}
.service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.service-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
.service-description {
    margin-top: 10px;
}
.learn-more-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.learn-more-btn:hover {
    background-color: #218838;
}
@media (max-width: 768px) {
    .service-item {
        margin-bottom: 15px;
    }
    .service-image {
        height: 300px;
    }
}

/* bmi */
.bmi-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #f4faef;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bmi-form, .bmi-chart {
    width: 45%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.bmi-form h2 ,
.bmi-chart h2{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bmi-btn {
    width: 100%;
    background-color: #6dab3c;
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.bmi-btn:hover {
    background-color: #5a9432;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    background-color: #fafafa;
}

@media (max-width:480px) {
    .bmi-section {
        display: flex;
        flex-direction: column;
    
    }
.bmi-form, .bmi-chart {
        margin-top: 20px;
        width: 100%;
        background-color: #ffffff;
        padding: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
}
/* blog section */
.blog-section {
    padding: 50px;
    text-align: center;
}

.blog-section h2 {
    font-size: 36px;
    color: #000000;
    margin-bottom: 40px;
    font-weight: 900;
    font-family: 'Poppins';
}

.blog-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

.blog-card img {
    width: 100%;
    height: auto;
    display: block;
}

.blog-content {
    padding: 20px;
}

.blog-date {
    color: #6dab3c;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

.blog-card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    font-weight: 700;
}
.blog-card h3:hover{
    color: #72AE44;
}
.read-more {
    font-size: 18px;
    display: inline-block;
    color: #6dab3c;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}


.blog-card:hover {
    transform: translateY(-10px);
}

/* Responsive Design */
@media (max-width: 992px) {
    .blog-card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .blog-card {
        width: 100%;
    }
}

/* footer */
 .footer {
    background-color: #111;
    color: #ccc;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex-basis: 23%;
    margin-bottom: 30px;
}

.footer-column h3 {
    color: #72AE44;
    font-size: 24px;
    font-weight: 800;
    margin-bottom:20px;
}

.footer-column p{
    text-align: start;
}
.footer-column ul {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #6dab3c;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #6dab3c;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}

.newsletter form {
    display: flex;
    flex-direction: column;
}

.newsletter input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px;
    border: none;
    background-color: #6dab3c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #fff;
    color: #6dab3c;
    border: 1px solid #6dab3c;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #000;
    color: #ccc;
}

.footer-bottom a {
    color: #6dab3c;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom a:hover {
    color: #fff;
} 

/* Responsive Design */
@media (max-width: 992px) {
    .footer-column {
        flex-basis: 45%;
    }
}

@media (max-width: 768px) {
    .footer-column {
        flex-basis: 100%;
        text-align: center;
    }

    .newsletter form {
        flex-direction: column;
    }

    .newsletter input {
        margin-bottom: 10px;
    }
} 
