<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="/static/CSS/aboutus.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   <!-- navbar -->
   <nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <!-- <li><a href="user.html">Pages</a></li>
                <ul class="dropdown-menu">
                   
                    <li><a href="{{ url_for('aboutus') }}">About us</a></li>
                    <li><a href="{{ url_for('testimonial') }}">Testimonials</a></li>
                    <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li><a href="PricingPlan.html">Pricing plan</a></li>
                    <li><a href="services.html">Services</a></li>
                </ul>
            </li> -->
            <li><a href="{{ url_for('aboutus') }}">Pages</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('aboutus') }}">About us</a></li>
                   
                    <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                    <!-- <li><a href="PricingPlan.html">Pricing plan</a></li>
                    <li><a href="services.html">Services</a></li> -->
                </ul>
            </li>
            <li><a href="{{ url_for('blog') }}">Blog</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="user.html">User</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            </li>
        </ul>
        <img  class="logo" src="/static/images/logo1.png" alt="" style="width: 200px; object-fit:cover;height:70px">
    </div>
</nav>


 <!-- hero section -->
 <div class="about-section">
    <div class="about-content">
        <h1>About Us</h1>
    </div>
</div>


   <!-- about us -->
   <div class="newcontainer1">
    <div class="left1">
        <h1>Change Your Life in the next 90 <br>Days of Practice</h1>
        <p>Transform your life in just 90 days with daily, intentional practice. Build healthier habits, boost your energy, and feel your best with a personalized approach tailored to your goals. Start your journey today and watch the results unfold</p>
        <div class="plans">
            <div class="plan">
                <div class="card-icon">
                    <img src="/static/images/nutrition plan.jfif" alt="Nutrition Plans">
                </div>
                <h3>Personalized Nutrition Plan</h3>
                <p>Get a nutrition plan that's uniquely tailored to your body, lifestyle, and goals. Enjoy balanced meals designed to fuel your health and help you achieve lasting results.</p>
            </div>
            <div class="plan">
                <div class="card-icon">
                    <img src="/static/images/excercise icon.png" alt="Daily Exercise">
                </div>
                <h3>Personalized Exercises Plan</h3>
                <p>Unlock a workout plan tailored to your fitness level, goals, and schedule. Stay active with exercises designed just for you, helping you achieve faster, sustainable results.</p>
            </div>
        </div>
        <button class="btn">Read More</button>
    </div>
    <div class="right1">
        <img src="/static/images/yoga.jpg" alt="woman meditating">
    </div>
</div>


<!-- blog section -->
<div class="blog-section">
<h2>Diet & Workout Services</h2>
<div class="blog-cards">
    <div class="blog-card">
        <img src="/static/images/yogaPose.jpg" alt="Recipe 1">
        <div class="blog-content">
            <h3>Workout Routine</h3>
              <p class="blog-details">Optimize your fitness journey with Nutriwise’s personalized workout routines. Tailored to your goals and fitness level, our exercise plans are designed to enhance your health, boost your energy, and help you achieve your best results efficiently and effectively</p>
            <a href="https://www.bbcgoodfood.com/recipes/collection/healthy-recipes-for-weight-loss" class="read-more">Read More</a>
        </div>
    </div>
    <div class="blog-card">
        <img src="/static/images/weightloss.jpg" alt="Recipe 2">
        <div class="blog-content">
            <h3>Weight Loss Program</h3>
              <p class="blog-details">Optimize your fitness journey with Nutriwise’s personalized workout routines. Tailored to your goals and fitness level, our exercise plans are designed to enhance your health, boost your energy, and help you achieve your best results efficiently and effectively.</p>
            <a href="https://www.bbcgoodfood.com/recipes/collection/healthy-recipes-for-weight-loss" class="read-more">Read More</a>
        </div>
    </div>
<div class="blog-card">
        <img src="/static/images/aboutimg3.jpg" alt="Recipe 2">
        <div class="blog-content">
            <h3>Calculate BMI of your Food</h3>
              <p class="blog-details">Discover the nutritional value of your favorite dishes with our BMI-calculator feature. Simply input your recipes to get detailed insights into their calorie content and how they fit into your overall diet. Make informed choices and stay on track with your health goals effortlessly!</p>
            <a href="https://www.bbcgoodfood.com/recipes/collection/healthy-recipes-for-weight-loss" class="read-more">Read More</a>
        </div>
    </div>
  
</div>
</div>





<!-- footer -->
<footer class="footer">
<div class="footer-container">
    <div class="footer-column about">
        <h3 >NutriWise</h3>
        <p>Nutriwise delivers personalized nutrition solutions tailored to your unique needs and goals. 
            By analyzing your health data, lifestyle, and preferences, Nutriwise crafts customized diet plans to enhance your well-being.
        </p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <div class="footer-column links">
        <h3>Useful Links</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Condition</a></li>
        </ul>
    </div>

    <div class="footer-column info">
        <h3>Information</h3>
        <p><strong>Phone:</strong> +8928240635 <br> +9867834012</p>
        <p><strong>Email:</strong> Nutriwise@gmail.com</p>
        <p><strong>Address:</strong> 11 Andheri Colony, Mumbai-400078</p>
    </div>

    <div class="footer-column newsletter">
        <h3>Newsletter</h3>
        <p>Stay updated with the latest in nutrition and wellness! Subscribe to the Nutriwise newsletter for expert tips, exclusive offers, and personalized health insights delivered straight to your inbox.</p>
        <form>
            <input type="email" placeholder="Enter Your Email">
            <button type="submit">Subscribe</button>
        </form>
    </div>
</div>
<div class="footer-bottom">
    <p>Copyright &copy; 2024 NutriWise. All Rights Reserved by <a href="#">NutriWise</a></p>
</div>
</footer>




 

</body>
</html>