<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet plan Recommendation system</title>
    <link rel="stylesheet" href="/static/css/home.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <!-- <li><a href="user.html">Pages</a></li>
                    <ul class="dropdown-menu">
                       
                        <li><a href="{{ url_for('aboutus') }}">About us</a></li>
                        <li><a href="{{ url_for('testimonial') }}">Testimonials</a></li>
                        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                        <li><a href="PricingPlan.html">Pricing plan</a></li>
                        <li><a href="services.html">Services</a></li>
                    </ul>
                </li> -->
                <li><a href="{{ url_for('aboutus') }}">Pages</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('aboutus') }}">About us</a></li>
                       
                        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                        <!-- <li><a href="PricingPlan.html">Pricing plan</a></li>
                        <li><a href="services.html">Services</a></li> -->
                    </ul>
                </li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="user.html">User</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    </ul>
                </li>
            </ul>
            <img  class="logo" src="/static/images/logo1.png" alt="" style="width: 200px; object-fit:cover;height:70px">
        </div>
    </nav>

    <!-- hero section -->
    <div class="hero">
        <div class="hero-content">
            <h1>Fuel Your Body with Personalized Nutrition</h1>
            <p>Unlock your healthiest self with personalized meal plans designed for your unique body and lifestyle. Start your journey to better nutrition today!</p>
            <div class="hero-buttons">
                <a href="#" class="btn learn-more">Learn More</a>
                <a href="#" class="btn contact-us">Contact Us</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="/static/images/hero image.jpg" alt="Doctor">
        </div>
    </div>

     <!-- card container -->
     <div class="cards-container">
        <div class="card">
            <div class="card-icon">
                <img src="/static/images/excercise icon.png" alt="Daily Exercise">
            </div>
            <h3>Daily Exercise</h3>
            <p>Stay active with tailored workout routines that fit your goals and schedule. Boost your energy, burn calories, and build strength—all while having fun!</p>
            <a href="https://www.healthline.com/health/fitness-exercise/at-home-workouts" class="learn-more">Learn More</a>
        </div>
        <div class="card">
            <div class="card-icon">
                <img src="/static/images/natural food.avif" alt="Natural Food">
            </div>
            <h3>Natural Foods</h3>
            <p>Discover the power of nature with fresh, wholesome ingredients. Enjoy nutrient-rich, natural foods that nourish your body and elevate your overall well-being.</p>
            <a href="https://www.healthline.com/nutrition/50-super-healthy-foods#meat" class="learn-more">Learn More</a>
        </div>
        <div class="card">
            <div class="card-icon">
                <img src="/static/images/nutrition plan.jfif" alt="Nutrition Plans">
            </div>
            <h3>Nutrition Plans</h3>
            <p>Transform your diet with personalized nutrition plans crafted to suit your health needs and preferences. Balanced, delicious, and easy-to-follow meals for a healthier you.</p>
            <a href="https://blog.eatthismuch.com/" class="learn-more">Learn More</a>
        </div>
    </div>
    

    <!-- about us -->
    <div class="newcontainer">
        <div class="left">
            <h1>Change Your Life in the next 90 <br>Days of Practice</h1>
            <p>Transform your life in just 90 days with daily, intentional practice. Build healthier habits, boost your energy, and feel your best with a personalized approach tailored to your goals. Start your journey today and watch the results unfold</p>
            <div class="plans">
                <div class="plan">
                    <div class="card-icon">
                        <img src="/static/images/nutrition plan.jfif" alt="Nutrition Plans">
                    </div>
                    <h3>Personalized Nutrition Plan</h3>
                    <p>Get a nutrition plan that's uniquely tailored to your body, lifestyle, and goals. Enjoy balanced meals designed to fuel your health and help you achieve lasting results.</p>
                </div>
                <div class="plan">
                    <div class="card-icon">
                        <img src="/static/images/excercise icon.png" alt="Daily Exercise">
                    </div>
                    <h3>Personalized Exercises Plan</h3>
                    <p>Unlock a workout plan tailored to your fitness level, goals, and schedule. Stay active with exercises designed just for you, helping you achieve faster, sustainable results.</p>
                </div>
            </div>
            <button class="btn">Read More</button>
        </div>
        <div class="right">
            <img src="/static/images/girlimage.png" alt="woman meditating">
        </div>
    </div>

    <!-- Diet & Nutrition  services Container
    <div class="services-container">
        <div class="services-section">
            <h2 class="text-center mb-4">Diet & Nutritionist Services</h2>
            <div class="row">
                <div class="col-md-4 service-item">
                    <img src="/static/images/services-img1.jpg" alt="Weight Loss Program" class="service-image">
                    <h3 class="service-title">Weight Loss Program</h3>
                    <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua quis ipsum.</p>
                    <button class="learn-more-btn">Learn More</button>
                </div>
                <div class="col-md-4 service-item">
                    <img src="/static/images/services-img2.jpg" alt="Nutrition Response Testing" class="service-image">
                    <h3 class="service-title">Nutrition Response Testing</h3>
                    <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua quis ipsum.</p>
                    <button class="learn-more-btn">Learn More</button>
                </div>
                <div class="col-md-4 service-item">
                    <img src="/static/images/services-img3.jpg" alt="Clinical Nutrition" class="service-image">
                    <h3 class="service-title">Clinical Nutrition</h3>
                    <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua quis ipsum.</p>
                    <button class="learn-more-btn">Learn More</button>
                </div>
            </div>
        </div>
    </div> -->
    
<!-- BMI calculator -->
<div class="bmi-section">
    <div class="bmi-form">
        <h2>Calculate Your BMI</h2>
        <form action="" method="GET" id="bmiForm">
            <div class="form-group">
                <input type="text" placeholder="Height* in cm" required>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Weight* in kg" required>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Age*" required>
            </div>
            <div class="form-group">
                <select required>
                    <option value="" disabled selected>Select Gender*</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <select required>
                    <option value="" disabled selected>Select an Activity Factor*</option>
                    <option value="sedentary">Sedentary</option>
                    <option value="light">Lightly Active</option>
                    <option value="moderate">Moderately Active</option>
                    <option value="active">Very Active</option>
                    <option value="extra">Extra Active</option>
                </select>
            </div>
            <button type="submit" class="bmi-btn"  >Calculate</button>
            
          
        </form>
      
    </div>
    <div class="bmi-chart">
        <h2>BMI Calculator Chart</h2>
        <table>
            <thead>
                <tr>
                    <th>BMI</th>
                    <th>Weight Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Below 18.5</td>
                    <td>Under Weight</td>
                </tr>
                <tr>
                    <td>18.5 - 22.5</td>
                    <td>Healthy</td>
                </tr>
                <tr>
                    <td>22.5 - 25.0</td>
                    <td>Overweight</td>
                </tr>
                <tr>
                    <td>25.0 - 30.0</td>
                    <td>Obese</td>
                </tr>
                <tr>
                    <td>30.0 - above</td>
                    <td>Severely Obese</td>
                </tr>
        </tbody>
        </table>
    </div>
</div>
<!-- blog section -->
<div class="blog-section">
    <h2>Latest Recipe From Blog</h2>
    <div class="blog-cards">
        <div class="blog-card">
            <img src="/static/images/homeblog1.jpg" alt="Recipe 1">
            <div class="blog-content">
                <p class="blog-date">22 April, 2024</p>
                <h3>Healthy & Simple Recipes For Weight Loss</h3>
                <a href="https://www.bbcgoodfood.com/recipes/collection/healthy-recipes-for-weight-loss" class="read-more">Read More</a>
            </div>
        </div>
        <div class="blog-card">
            <img src="/static/images/homeblog2.jpg" alt="Recipe 2">
            <div class="blog-content">
                <p class="blog-date">23 April, 2024</p>
                <h3>Top 5 Tips Why Self Care Is More Important</h3>
                <a href="https://www.verywellmind.com/self-care-strategies-overall-stress-reduction-3144729" class="read-more">Read More</a>
            </div>
        </div>
        <div class="blog-card">
            <img src="/static/images/homeblog3.jpg" alt="Recipe 3">
            <div class="blog-content">
                <p class="blog-date">24 April, 2024</p>
                <h3>Top 8 Ways for Living Healthy Life Important</h3>
                <a href="https://www.who.int/philippines/news/feature-stories/detail/20-health-tips-for-2020" class="read-more">Read More</a>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-column about">
            <h3 >NutriWise</h3>
            <p>Nutriwise delivers personalized nutrition solutions tailored to your unique needs and goals. 
                By analyzing your health data, lifestyle, and preferences, Nutriwise crafts customized diet plans to enhance your well-being.
            </p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

        <div class="footer-column links">
            <h3>Useful Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Condition</a></li>
            </ul>
        </div>

        <div class="footer-column info">
            <h3>Information</h3>
            <p><strong>Phone:</strong> +8928240635 <br> +9867834012</p>
            <p><strong>Email:</strong> Nutriwise@gmail.com</p>
            <p><strong>Address:</strong> 11 Andheri Colony, Mumbai-400078</p>
        </div>

        <div class="footer-column newsletter">
            <h3>Newsletter</h3>
            <p>Stay updated with the latest in nutrition and wellness! Subscribe to the Nutriwise newsletter for expert tips, exclusive offers, and personalized health insights delivered straight to your inbox.</p>
            <form>
                <input type="email" placeholder="Enter Your Email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2024 NutriWise. All Rights Reserved by <a href="#">NutriWise</a></p>
    </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>